<article>
  <header>
    <h1>
      <a href="<%= url recipe.slug %>">"<%= url recipe.title %></a>
    </h1>
  </header>
  <section class="content">
    <%= markdown recipe.content %>
  </section>
</article>

